li > div.list-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
li {
  padding: 10px 0;
  border-bottom: 1px solid;
}
.spending-amount-date {
  display: flex;
  flex-direction: column;
}

.spending-amount-date label {
  font-size: 12px;
}

.spending-amount-date .income {
  color: darkgreen;
  font-size: 22px;
}

.spending-amount-date .spend {
  color: #e91e63;
  font-size: 22px;
}

button {
  border: 1px solid #000000;
  padding: 10px 25px;
}

span.description {
  width: 20vw;
  text-align: left;
}

.list-item > div:nth-of-type(1) {
  width: 45%;
}
.list-item > div:nth-of-type(2) {
  width: 50%;
}
.list-item > div:nth-of-type(3) {
  width: 5%;
  cursor: pointer;
}
